Mgnify_tutorial/
Scripts/EDA_wwt_shot_metag_assembly.ipynb
Output/Taxonomic_inf
Scripts/__pycache__
Scripts/Test_script.py
.DS_Store
Output/.DS_Store
Output/IDs/
Output/Unified_analyses/.DS_Store
Output/Unified_analyses/MGYS00001392/.DS_Store
Output/Unified_analyses/MGYS00001392/ERR977/
credentials.json
notes_marcor.txt
notebooks/test.ipynb
Script/main.py
bin/test.py
outputs/
Output/Mgnify_analyses.json
Output/Mgnify_studies.json
notebooks/test_version3.ipynb
outputs/mgnify_analyses.json
outputs/mgnify_analysis.csv
outputs/mgnify_studies.csv
outputs/mgnify_studies.json
outputs/unique_mgys_studies_ids.txt
